<hr>
<h4>"<%= prog.name %>"</h4>
<h5><%= render( partial: "shared/date_range", 
				locals: {beg: prog.opened, fin: prog.closed}) %>
</h5>
Moderator: <%= prog.moderator %><br/>
Number of questions: <%= prog.n_questions %><br/>
Number of participants: <%= prog.n_participants %><br/>
Number of rounds: <%= prog.n_rounds %> <br/><br/>
<%if !round.nil?%>
	Current Round: "<%= round.name %>"
		<%= render( partial: "shared/date_range", 
					locals: {beg: round.opened, fin: round.closed})%>
		<br/><br/>
	Respondents:
	<ul><li>who have started: <%= round.n_have_started %></li><li>
	who have yet to start: <%= round.n_not_yet_started %></li><li>
	who are done: <%= round.n_completed %></li></ul>
<% else %>
	<em>No Round Open Yet</em>
<% end %>
