<hr>
<h3>"<%= prog.name %>"</h3>
<h5>
	<%= round.name %>
		<%= render( partial: "shared/date_range", 
					locals: {beg: round.opened, fin: round.closed})%>
	(<%=round.id%>) 
 </h5>


You still need to respond to <%= round.n_open_questions %> questions 
for <%= round.name %><br/>

Of <%= prog.n_participants %> total participants, 
<%= round.n_completed %> have completed this round, 
and <%= round.n_not_completed %> have not yet. <br/>

<%if round.closed != nil %>
	There are <%= distance_of_time_in_words_to_now(round.closed) %> left for this round<br/>
<% end %>	
<p>
	<%=link_to('Go To Survey', round.survey_url, class: "btn btn-primary") %>
</p>
