<li>
  <%= link_to program.name, report_program_path(program) %> |
  <%= program.description %> |
  <%= program.open %> |
  <%= program.locked %> |
  <%= link_to "delete", program, method: :delete, data: { confirm: "Are you sure?" } %>
</li>