<li>
  <%= link_to round.number, edit_program_round_path(@program, round) %> |
  <%= round.number %> |
  <%= round.start %> |
  <%= round.fin %> |
  <%= round.status %> |
  <%= link_to "delete", program_round_path(@program, round), method: :delete, data: { confirm: "Are you sure?" } %>
</li>