<div class="row">
  <div class="span8">
    <p>
      Please answer the following questions.
    </p>
  </div>
</div>
<div class="row" %>
  <div class="span8">
    <p>
      Survey for: <%= @participant.name %>
    </p>
    <p>
      Round: <%= @current_round.number %>
    </p>
    <p>
      Status: <%= @current_round.open ? "Open" : "Closed" %>
    </p>
  </div>
</div>

<%= form_tag program_participant_round_survey_path(
        program_id: @program.id, participant_id: @participant.id, round_id: @current_round.id), :method => 'put'  do %>
  <table class="table table-condensed table-hover" id="survey">
    <thead>
      <% assessment_headers.each do |header| %>
        <th><%=header%></th>
      <% end %>
    </thead>
    <tbody>
      <%= render partial: 'response', collection: @responses  %> 
    </tbody>
  </table>
  <%= submit_tag "Save" %>
<% end %>


<% if false %>
  <%= debug @program %>
  <%= debug @participant %>
  <%= debug @current_round %>
  <%= debug @responses %>
  <%= params.inspect %>
<% end %>







