<%= form_for([@program, @participant], class: "horizontal-form") do |f| %>
  <div class="container-fluid">
    <legend>Participant Form</legend>
    <div class="row-fluid">
      <div class="span8">
        <div class="row-fluid">
          <div class="span12 bgcolor">
            <%= render 'shared/error_messages'%>
          </div>
        </div>         
        <div class="row-fluid">
          <div class="span6 bgcolor">
            <div class="control-group">
              <label class="control-label" for="text">Name of participant</label>
              <div class="controls">
                <%= f.text_field :name %>
              </div>
            </div>
          </div>
        </div>

        <%= wrap_control_group do %>
          <%= current_survey_link @program, @participant %>
        <% end %>

        <div class="row-fluid">
          <div class="span6 bgcolor">
            <div class="control-group">
            </div>
          </div>
        </div>
      </div>
    </div>
  <%= f.submit "Save Participant", class: "btn btn-small btn-primary" %> 
  </div>
<% end %>



