<div class="row">
  <div class="span10">
    <p>
      Participants are the peope you are surveying. The students, attendees, patients, whatever. Each program has a separate collection of participants. Participants must at least signify their email addresses so we can send them messages.
    </p>
    <p>
      You will get a far better result if you start off with all the participants enrolled before you open the program. However it is also possible to add participants if you forget some at the start.
      You cannot delete a participants once the program is open. The ordering of the participants is alphabetical.
    </p>
  </div>
  <div class="span10">
    <% if @participants.size == 0 %>
      <div class="alert">There are no participants assigned to this program yet!</div>
    <% else %> 
      <%= will_paginate %>
      <ul>
        <%= render @participants %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
  <div class="row span10" id="import_block" %>
    <p>
      You can bulk add users as participants to this program. The users will all be created with default passwords. You may then direct them to log in and change their passwords
    </p>
  </div>
  <div class="row span10" id="import_block">
    <div class="span3">
        <%= form_tag bulk_add_participants_program_path(@program) do %>
          <%= text_area_tag :bulk_add_participants, nil, { rows: 5, class: "span3" } %>
          <%= submit_tag "Import from csv" %>
        <% end %>
    </div>
    <div class="span6">
      <%= text_area_tag "", @program.last_import_results, {class: "span6", disabled: true, rows: 5 }  %>
      <p class="text-center muted"> 
        results of import
      </p>
    </end>
  </div>
</div>
