<%= form_for(@user, class: "horizontal-form") do |f| %>
  <div class="container-fluid">
    <legend>User Form</legend>
    <div class="row-fluid">
      <div class="span8">
        <div class="row-fluid">
          <div class="span12 bgcolor">
            <%= render 'error_block'%>
          </div>
        </div>

        <%= wrap_control_group  do %>
          <label class="control-label" for="text">Name</label>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        <% end %>

        <%= wrap_control_group do %>
          <%= f.label :email %>
          <%= f.email_field :email %>
        <% end %>

        <%= wrap_control_group do %>
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, :autocomplete => "off" %>
        <% end %>

        <%= wrap_control_group do %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        <% end %>

        <%= wrap_control_group do %>
          <label class="control-label" for="text">Role</label>
          <div class="controls">
            <%= f.select(:roles, [['Admin', :admin], ['Modererator', :moderator], ['Participant', :participant]], :selected => @user.role_to_s.downcase ) %>
          </div>
        <% end %>
      </div>
    </div>
  <%= f.submit "Save User", class: "btn btn-small btn-primary" %> 
<% end %>
