<h2>Report</h2>
  <p>
    <%= @presenter.report_description %>
  </p>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <% @presenter.column_headers.each do |hdr| %>
        <th><%= hdr %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @presenter.row_count.times do |row| %>
      <tr>
        <td><%= @presenter.row_label(row) %></td>
        <% @presenter.col_count.times do |col| %>
          <td>
            <ul>
              <li><%= @presenter.cell_values(row, col).join(",") %></li>
              <li><%= @presenter.cell_pie_buckets(row, col).join(",") %></li>
            </ul>
            <%= spark_pie(@presenter.cell_pie_buckets(row, col)) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
