<% content_for :content do %>  
  <div class="container">
  <h3 id="program_name">Program: <%= @program.name %></h3>
    <ul class="nav nav-tabs">
      <li><%= link_to "Reports", report1_path(@program) %></li>
      <li><%= link_to "Settings", edit_program_path(@program) %></li>
      <li><%= link_to "Rounds", program_rounds_path(@program) %></li>
      <li><%= link_to "Participants", program_participants_path(@program) %></li>
      <li><%= link_to "Questions", program_questions_path(@program) %></li>
    </ul>

  <%= content_for?(:progtabs_content) ? yield(:progtabs_content) : yield %>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
